/*- Linha de comentário para teste push origin*/
* {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

header{
  top: 0;
  margin: auto;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  height: 5vh;
}

#LOGO{
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  color: #e2ecee;
  margin: auto;
}

.nav-menu {
  display: flex;
  font-size: 2.5vh;
  list-style-type: none;
  margin: auto;
  overflow: hidden;
  justify-content: space-around;
  align-self: center;
  font-family: 'Poppins', sans-serif;
}

.dropbtn {
  display: inline-block;
  color: #23001e;
  text-align: center;
  margin: 0vh 1.5vw;
  padding: 0.5vh 1vw;
}

li a:hover{
  color: #125e8a;
}
 
.dropdown {
  display: inline-block;
  position: relative;
  align-content: center;
}

.dropdown:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.5vh;
  bottom: 0;
  left: 0;
  background-color: #125e8a;
  transform-origin: bottom;
  transition: transform 0.1s ease-out;
}

.dropdown:hover:after {
  transform: scaleX(1);
  transform-origin: bottom;
}

main {
  height: 90vh;
  width: 99vw;
  margin: auto;
  background-color: white;
}

div.cont{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: auto;
  align-self: center;
}

.indice{
  justify-content: space-around;
}

.indice > a{
  margin: auto 5vw;
  color: #23001e;
  background-color: #125e8a;
  padding: 1vh 1vw;
  border-radius: 10vw;
}

.slides > div> a{
  color: #23001e;
}

.slider {
  width: 99vw;
  text-align: center;
  overflow: hidden;
  align-content: center;
}

.slides {
  display: flex;
  margin-bottom: 5vh;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  
  
  
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.slides::-webkit-scrollbar {
  width: 19.8vw;
  height: 2vh;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 99vw;
  height: 85vh;
  background: white;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20vh;
}

.vendas_main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.vendas_comp{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #125e8a;
  width: 95vw;
  height: 40vh;
  margin: 2.5vh auto;
  border-radius: 1vw;
  color: #23001e;
  font-size: 10vh;
}

.vendas_comp:hover{
  background-color: aquamarine;
}

.dados_main{
  display: flex;
  justify-content: space-around;
}

.dados_comp{
  background-color: #125e8a;
  width: 45vw;
  height: 40vh;
  margin: 2.5vh auto;
  border-radius: 1vw;
}

.dados_comp > div{
  display: flex;
  justify-content: space-around;
}

.dados_sbl > a > div{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  width: 15vw;
  height: 15vh;
  margin: 2.5vh auto;
  border-radius: 1vw;
  color: #23001e;
}

.dados_sbl > a > div:hover{
  background-color: aqua;
}

footer{
  bottom: 0;
  margin: auto;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  height: 5vh;
}

body{
  overflow-x: hidden;
  color: #23001e;
  background-color: antiquewhite;
  font-family: 'Poppins', sans-serif;
  font-size: 2vh;
}
