.home_main{
  display: flex;
  justify-content: space-around;
}

.home_comp{
  background-color: #125e8a;
  width: 45vw;
  height: 40vh;
  margin: 2.5vh auto;
  border-radius: 1vw;
}

.home_comp > div{
  display: flex;
  justify-content: space-around;
}

.home_txt{
  display: flex;
  justify-content: space-around;
  width: 25vw;
  margin: 2.5vh 0;
}

.home_sbl > div{
  background-color: aquamarine;
  width: 15vw;
  height: 10vh;
  margin: 2.5vh auto;
  border-radius: 1vw;
}

.home_sbl > div > a{
  width: 15vw;
  height: 10vh;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #23001e;
}

.home_sbl > div:hover{
  background-color: aqua;
}
