.dados_main{
  display: flex;
  justify-content: space-around;
}

.dados_comp{
  background-color: #125e8a;
  width: 45vw;
  height: 40vh;
  margin: 2.5vh auto;
  border-radius: 1vw;
}

.dados_comp > div{
  display: flex;
  justify-content: space-around;
}

.dados_sbl > a > div{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  width: 15vw;
  height: 15vh;
  margin: 2.5vh auto;
  border-radius: 1vw;
  color: #23001e;
}

.dados_sbl > a > div:hover{
  background-color: aqua;
}
