.vendas_menu{
  display: flex;
  justify-content: space-around;
  background-color: #125e;
}

#link_vendas{
  width: 49.5vw;
  height: 5vh;
}

.vendas_opt{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49.5vw;
  height: 5vh;
  color: #23001e;
  font-size: 3vh;
}

.vendas_opt:hover{
  background-color: aquamarine;
}
#choice_page{
  background-color: aquamarine;
}

.vendasclientes_main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#add_button{
  width: 15vw;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5vh;
  height: 5vh;
  border-color: #23001e;
  border-radius: 1vh;
  background-color: #125e;
}
#add_button:hover{
  cursor: pointer;
  background-color: aquamarine;
}
#add_clientes{
  width: 15vw;
  height: 5vh;
  border-radius: 1vh;
}

.vendasclientes_title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2vw 2vh;
}

.vendasclientes_lista{
  align-self: center;
  overflow-y: scroll;
  width: 97.5vw;
  height: 65vh;
  background-color: aquamarine;  
}

label{
  font-size: 3vh;
  text-decoration: none;
  letter-spacing: 0.25vh;
}

.clientesadd_main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2.5vh auto;
  width: 95vw;
}

.clientesadd_column{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2vh auto;
  width: 95vw;
}

.clientesadd_info{
  display: flex;
  flex-direction: column;
}

.form-info{
  width: 29vw;
  height: 5vh;
  border-color: #23001e;
  border-radius: 1vw;
  padding: 0 1vw;
}

.form-info-s{
  width: 31vw;
  height: 5vh;
  border-color: #23001e;
  border-radius: 1vw;
  padding: 0 1vw;
}

#button_cad{
  margin: 5vh 0;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1vh;
  width: 30vw;
  height: 5vh;
  border-color: #23001e;
  border-radius: 1vh;
  background-color: #125e;
}

#button_cad:hover{
  cursor: pointer;
  background-color: aquamarine;
}

.vendashistorico_main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#extrato_button{
  width: 20vw;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5vh;
  height: 5vh;
  border-color: #23001e;
  border-radius: 1vh;
  background-color: #125e;
}
#extrato_button:hover{
  cursor: pointer;
  background-color: aquamarine;
}
#imprimir_extrato{
  width: 20vw;
  height: 5vh;
  border-radius: 1vh;
}

.vendashistorico_title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2vw 2vh;
}

.vendashistorico_lista{
  align-self: center;
  overflow-y: scroll;
  width: 97.5vw;
  height: 65vh;
  background-color: aquamarine;  
}

.link{
  text-decoration: none;
  color: #23001e;
  display: flex;
  justify-content: center;
  align-items: center;
}
