.vendas_menu{
  display: flex;
  justify-content: space-around;
  background-color: #125e;
}

.link{
  text-decoration: none;
  color: #23001e;
  width: 49.5vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vendas_opt{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49.5vw;
  height: 5vh;
  color: #23001e;
  font-size: 3vh;
}

.vendas_opt:hover{
  background-color: aquamarine;
}
#choice_page{
  background-color: aquamarine;
}